# Basic
python-dotenv==1.0.0

# Riot API
riotwatcher==3.4.0

# Computer Vision
opencv-python==4.8.1.78
pillow==10.1.0
mss==9.0.1

# Data & ML (add later)
# numpy==1.26.2
# pandas==2.1.4
# torch==2.1.2